 *{
    padding:0px;
    margin:0;
 }
 .loginContainer{
    width: 600px;
    height: 500px;
    flex-shrink: 0;
    border-radius: 15px;
    border: 1px solid rgba(0, 0, 0, 0.10);
    background: #FFF;
    box-shadow: 5px 5px 0px 0px rgba(0, 0, 0, 0.25);
    
}
.helpWord{
    color: #3B6064; 
    font-size: 22px; 
    font-family: Roboto Mono; 
    font-weight: 700; 
    line-height: 40px; 
    word-wrap: break-word;
    margin:10px;
    
}
.upperBox{
    width: 600px;
    height: 126px;
    flex-shrink: 0;
    border-radius: 15px 15px 0px 0px;
    background: #87BBA2;
}
.validLogin{
    display: flex;
    width: 100%;
    height: 100%;
    flex-direction: column;
    align-items: center;
    gap: 31px;
    background: #C9E4CA;
    
    
}
.authButton{
    padding:5px;
    flex-shrink: 0;
    border-radius: 15px;
    background: #55828B;
    box-shadow: 5px 5px 0px 0px rgba(0, 0, 0, 0.25);
    margin: 10px;
}
.authButton:hover{
    padding:5px;
    flex-shrink: 0;
    border-radius: 15px;
    background: #2d147e;
    box-shadow: 5px 5px 0px 0px rgba(0, 0, 0, 0.25);
    margin: 10px;
}

.buttonWord{
    color: #F5F5F5;
    text-align: left;
    font-family: Roboto Mono;
    font-size: 24px;
    font-style: normal;
    font-weight: 700;
    line-height: normal;
}
.emailBox{
    width: 534px;
    height: 50px;
    flex-shrink: 0;
    border-radius: 15px;
    background: #E9F5DB;
    box-shadow: 5px 5px 0px 0px rgba(0, 0, 0, 0.25);
    padding-left: 10px;;
    margin: 10px;
}
.emailBox::placeholder{
    color: #364958;
    font-family: Roboto Mono;
    font-size: 20px;
    font-style: normal;
    font-weight: 400;
    line-height: normal;
}
.wordTest{
    color: #364958;
    text-align: left;
    font-family: Roboto Slab;
    font-size: 40px;
    font-style: normal;
    font-weight: 700;
    padding:30px;
    
}
.firstPartOfName{
    color: #CE4257;
    text-align: right;
    font-family: Roboto Slab;
    font-size: 150px;
    font-style: normal;
    font-weight: 400;
    line-height: normal;
    text-transform: capitalize;
    
}
.secondPartOfName{
    color: #F5F5F5;
    font-family: Roboto Slab;
    font-size: 100px;
    font-style: normal;
    font-weight: 400;
    line-height: normal;
    text-transform: capitalize;
}
.roteHome{
    width: 500px;
    height: 48.333px;
    flex-shrink: 2;
}

.Navbar{
    display:flex;
    background-color: #87bba2;
    border-radius: 0px 0px 15px 15px;
    box-shadow: 5px 5px 0px #00000040;
    height: 65px;
    width: 100%;
    justify-content: space-between;
    align-items: center;
    
}

.ButtonNavbar{
    background-color: #55828b;
    border-radius: 15px;
    box-shadow: 5px 5px 0px #00000040;
    height:30px;
    width:100px;
    color: #f5f5f5;
    font-family: "Roboto Mono-Bold", Helvetica;
    font-size: 15px;
    margin: 10px;
}

.itemBox{
    height:300px;
    width:300px;
    background-color: #e9f5db66;
    padding:10px;
    margin:10px;
    border-radius: 15px;
    cursor:pointer;
}

.ItemList{
    display:flex;
    flex-wrap: wrap;
}

.TypeItem{
    display:flex;
    background-color: #9d2eb866;
    border-radius: 15px;
    box-shadow: 5px 5px 0px #00000040;
    align-items: center;
    justify-content: center;
    height:42px;
    width:100px;
    color: #000000b2;
    font-family: "Roboto Mono-Regular", Helvetica;
    font-size: 18px;
    font-weight: 400;
    margin:7px;
}

.Title{
    height: 55px;
    width: 231px;
    color: #1c4347;
    font-family: "Roboto Mono-Bold", Helvetica;
    font-size: 24px;
    font-weight: 700;
    overflow: hidden;
    text-overflow: ellipsis; /* Добавляем многоточие */
    margin-top:20px;
    margin-left:20px;
}


.Description{
    height: 130px;
    width: 278px;
    color: #3b6064;
    font-family: "Roboto Mono-Regular", Helvetica;
    font-size: 18px;
    font-weight: 400;
    margin-left:20px;
    overflow: hidden;
    text-overflow: ellipsis;
}
    
.Author{
    
    height: 24px;
    width: 278px;
    color: #3b6064;
    font-family: "Roboto Mono-Bold", Helvetica;
    font-size: 18px;
    font-weight: 700;
    margin-left: 20px;
    
}

.star{
    height: 20px;
    width: 20px;
   
}

.SearchTitle{
    margin:20px;
    padding:0 20px;
    height: 65px;
    width: 700px;
    background-color: #e9f5db;
    border-radius: 15px;
    box-shadow: 5px 5px 0px #00000040;
    display:inline-flex;
    justify-content: space-between;
}
.SearchTitleTxt{
    border:none;
    color: #3b6064;
    font-family: "Roboto Mono-Bold", Helvetica;
    font-size: 24px;
    font-weight: 700;
    background-color: #e9f5db;
    width:600px;
    padding-right:10px;
    outline:none;
}

.SearchTitleBtn{
    border:none;
    background-color:#e9f5db;
}

.SearchTitleImg{
    display:flex;
    align-items: center;
    justify-content: center;
    background-color:#e9f5db;
    padding-right:15px ;
}

.SelectField{
height: 65px;
width: 320px;
background-color: #e9f5db;
border-radius: 15px;
box-shadow: 5px 5px 0px #00000040;
margin:20px;
display:inline-flex;
color: #3b6064;
font-family: "Roboto Mono-Bold", Helvetica;
font-size: 24px;
font-weight: 700;
border:none;
padding: 0 20px;
cursor:pointer;
}

.ProfileBtn{
    height: 40px;
    width: 40px;
    border:none;
    background: none;
    cursor:pointer;
    padding:0 20px;
}

.AddOrderBtn{
    height: 30px;
    width: 30px;
    border:none;
    background: none;
    cursor:pointer;
}

.ProfileIcon{
    height: 40px;
    width: 40px;
}

.AddOrderIcon{
    height: 30px;
    width: 30px;
}

.NavbarAuth{
    display:flex;
    align-items: center;
    padding:100px;
    margin:20px;
}

.InputOrderTitle{
    
background-color: #f5f5f5;
border-radius: 15px;
box-shadow: 5px 5px 0px #00000040;
height: 40px;
width: 650px;
color: #364958bf;
font-family: "Roboto Mono-Bold", Helvetica;
font-size: 18px;
font-weight: 700;
padding:10px;
margin:10px;


}
.InputOrderDescription{
  
background-color: #f5f5f5;
border-radius: 15px;
box-shadow: 5px 5px 0px #00000040;
height: 310px;
width: 650px;
color: #364958bf;
font-family: "Roboto Mono-Regular", Helvetica;
font-size: 18px;
font-weight: 400;
margin:10px;
padding:10px;

}

.ButtonSendOrder{
    height: 40px;
    width: 40px;
    border:none;
    background-color: #e9f5db;
    cursor:pointer;
}
.SendOrderIcon{
    height: 40px;
    width: 40px;
}

 .WalletOrder{
     color: #1c4347;
     font-family: "Roboto-Bold", Helvetica;
     font-size: 18px;
     font-weight: 700;
     line-height: normal;
     text-align: right;
     display: inline-block;
     margin-left: 15px;
 }

 .CoinImg{
     margin-top:10px;
 }